*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-visual{
	height: 400px;
	width: 100%;
	background-image: url(img/mv.jpg);
	background-position: bottom;
	background-size: cover;

}
.headline{
	padding: 20px;
}
main{
	width: 840px;
	margin:50px auto;
}

.option1{
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #d1d1d1;
}

.option2{
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #d1d1d1;
}

.option3{
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #d1d1d1;
}
.option4{
	padding-bottom: 30px;
	margin-bottom: 50px;
	border-bottom: 1px solid #d1d1d1;
}
